doctype html
//This page is part of the Teachers Dashboard
//This is the page that contains a single students blog entry and all the overlays and comments that go with them.

html(lang='en')
    head
        title Emotion Dashboard!
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel='stylesheet')
        link(rel='stylesheet',type="text/css" , href='../../../static/styles/home.css')
        
        script(src="https://kit.fontawesome.com/04e87abddd.js" crossorigin="anonymous")
        script(defer, src='../../../static/scripts/populate.js')
        script(src='../../../static/scripts/order.js')
        script(src='https://cdn.jsdelivr.net/npm/chart.js')
        
        
        
    body(onload="processIndividuals()")
        include templates/header.pug
        main
            div(id="titleDiv")
                    a(href='/papers/' + course + '/' + group id='backButton') 
                        i(class="fa-solid fa-caret-left")
                    
                    
                    h1(id='courseName') #{course}  
                    h1  -
                    h1(id='groupName') #{group}
                    h1  -
                    h1(id='studentName') #{student}
                     
                    
            div(id="topInfo")
                

                    
                
                    
                div(id="graphArea")  
                div(id="overallCommentsStudent")
                        h2 Comments 
                        textarea(id="commentTextArea" readonly)
                        div(id="overallCommentButtonDiv")
                            button(id="overallCommentEdit" onclick="overallCommentEdit()") Edit
                            button(id="overallCommentSave" onclick="overallCommentSave(false, course, student)") Save
                            button(id="overallCommentDelete" onclick="overallCommentSave(true, course, student)") Delete

                div(id="selfReportDisplayDiv")
                    h2 Self Report
                    h4 How did you feel this week?
                    ul(class="likert")
                        li Terrible 
                        li 
                            input(type="radio" name="firstQuestion" value="1")
                        li 
                            input(type="radio" name="firstQuestion" value="2" checked="checked")
                        li 
                            input(type="radio" name="firstQuestion" value="3")
                        li 
                            input(type="radio" name="firstQuestion" value="4")
                        li 
                            input(type="radio" name="firstQuestion" value="5")
                        li Awesome
                    br
                    h4 How much did you learn this week?
                    ul(class="likert")
                        li Nothing 
                        li 
                            input(type="radio" name="secondQuestion" value="1")
                        li 
                            input(type="radio" name="secondQuestion" value="2" checked="checked")
                        li 
                            input(type="radio" name="secondQuestion" value="3")
                        li 
                            input(type="radio" name="secondQuestion" value="4")
                        li 
                            input(type="radio" name="secondQuestion" value="5")
                        li Heaps
                    br
                    h4 How much did you progress this week?
                    ul(class="likert")
                        li Not at all 
                        li 
                            input(type="radio" name="thirdQuestion" value="1")
                        li 
                            input(type="radio" name="thirdQuestion" value="2")
                        li 
                            input(type="radio" name="thirdQuestion" value="3")
                        li 
                            input(type="radio" name="thirdQuestion" value="4" checked="checked")
                        li 
                            input(type="radio" name="thirdQuestion" value="5")
                        li Very Much
                    br
                    h4 How well did your team work?
                    ul(class="likert")
                        li Terrible 
                        li 
                            input(type="radio" name="fourthQuestion" value="1" checked="checked")
                        li 
                            input(type="radio" name="fourthQuestion" value="2")
                        li 
                            input(type="radio" name="fourthQuestion" value="3")
                        li 
                            input(type="radio" name="fourthQuestion" value="4")
                        li 
                            input(type="radio" name="fourthQuestion" value="5")
                        li Awesome
                    
            div(id="reportArea")
                div(id="testDiv") 
                div(id="textArea")
                    
                       
                div(class="tools") 
                    
                    div(id="filterDiv" ) 
                    form
                        h2 Filter: 
                        label(for="emotionRadio") Emotions
                        input(type="radio" name="filter" value="emotion" id="emotionRadio" checked="checked")
                        
                        br
                        label(for="experienceRadio") Experiences
                        input(type="radio" name="filter" value="experience" id="experienceRadio")
                        
                        br
                        label( id="sentenceFilterLabel") Show Only:
                        
                        
                    
                 
                  
                    
                    
                    div(id="newCommentContainer")
                    h2 Comments:
                        div(id="newCommentDiv")
                            textarea(id="commentEntry" placeholder="New Comment!" autofocus="autofocus")
                            button(id="commentAdd" onclick="addComment()") Add Comment
                    
                 
                    
                    div(id="allComments")
                    div(id="whiteBar")

            //This div here, "new" is where all of the graphs get appended to.  Another terrible name !       
            div(id='new')
            
            

        include templates/footer.pug
        script. 
            course='#{course}';
            group='#{group}';
            student='#{student}';
            set = "individuals";
