doctype html
html(lang='en')
    head
        title Emotion Dashboard!
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel='stylesheet')
        link(rel='stylesheet',type="text/css" , href='../../../static/styles/home.css')
        
        script(src="https://kit.fontawesome.com/04e87abddd.js" crossorigin="anonymous")
        script(defer, src='../../../static/scripts/populate.js')
        script(src='../../../static/scripts/order.js')
        script(src='https://cdn.jsdelivr.net/npm/chart.js')
        
        
        
    body(onload="processIndividuals()")
        include templates/header.pug
        main
            div(id="topInfo")
                div(id="pageInfo")
                    a(href='/papers/' + course + '/' + group id='backButton') 
                        i(class="fa-solid fa-caret-left")
                    h1(id='studentName') #{student}
                    
                    h2(id='courseName') #{course}
                    h2(id='groupName') #{group}
                
                    
                div(id="graphArea") 
            div(id="reportArea")
                div(id="testDiv") 
                div(id="textArea")
                    
                        
                div(class="tools") 
                    div(id="filterDiv" ) 
                    form
                        p Display: 
                        input(type="radio" name="filter" value="emotion" id="emotionRadio" checked="checked")
                        label(for="emotionRadio") Emotions
                        br
                        input(type="radio" name="filter" value="experience" id="experienceRadio")
                        label(for="experienceRadio") Experiences
                    
                    h2 Comments:
                 
                  
                    
                    //span(id="selectedText") 
                    div(id="newCommentContainer")
                        div(id="newCommentDiv")
                            textarea(id="commentEntry" placeholder="No Comment" autofocus="autofocus")
                            button(id="commentAdd" onclick="addComment()") Add Comment
                    
                    //
                        button(id="commentEdit" onclick="editComment()") edit
                        button(id="commentSave" onclick="addComment()") save
                    
                    div(id="allComments")

                    
            div(id='new')
            
            

        include templates/footer.pug
        script. 
            course='#{course}';
            group='#{group}';
            student='#{student}';
