doctype html
html(lang='en')
    head
        title Emotion Dashboard!
        meta(charset='utf-8')
        link(rel="icon" type="image/x-icon" href="favicon.ico")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel='stylesheet')
        link(rel='stylesheet',type="text/css" , href='../../static/styles/home.css')
        
        script(src="https://kit.fontawesome.com/04e87abddd.js" crossorigin="anonymous")
        script(defer, src='../../static/scripts/populate.js')
        script(src='../../static/scripts/order.js')
        script(src='https://cdn.jsdelivr.net/npm/chart.js')
        
        
        
    body(onload="loadIndividuals(group)")
        
            

        include templates/header.pug
        main
            div(id="titleDiv")
                    a(href='/papers/' + course id='backButton') 
                        i(class="fa-solid fa-caret-left")
                    h1(id='courseTitle') #{course}-#{group}
                    //- h1(id='courseTitle') 
            div(id="menus")
                
                div(class="controls")
                    div(id='groupButtonDiv')  
                        h1 View Report of:
                    div(class="form") 
                        
                        span Filter:
                        label(for="weekSelector") Week: 
                        select(id='weekSelector')
                            option(value="null" selected="selected") All Weeks
                        br
                        label(for="weekSelector") Student: 
                        select(id='groupSelector')
                            option(value="null" selected="selected") All Students
                        br
                        label(for="bookmarkInput") Bookmarked: 
                        input(type="checkbox" id="bookmarkInput" value="true")
                        br
                        label(for="missingInput") Missing: 
                        input(type="checkbox" id="missingInput" value="true" checked="true")
                        br
                        label(for="sortSelector") Sort By: 
                        select(id='sortSelector')
                            option(value="overallNeg" ) Most Urgent (Overall)
                            option(value="overallPos" ) Least Urgent (Overall)
                            option(value="emotionNeg" ) Most Urgent (by emotion)
                            option(value="experienceNeg" ) Most Urgent (by experience) 
                            option(value="mostRecent" selected="selected") Most Recent
                            option(value="leastRecent" ) Least Recent
                        button(id="submitButton" onclick="filterForm(group, set)") Submit
                    div(id="overallComments")
                        h1 Overall Comments 
                        textarea(id="commentTextArea")
                        div(id="overallCommentButtonDiv")
                            button(id="overallCommentEdit" onclick="overallCommentEdit()") Edit
                            button(id="overallCommentSave" onclick="overallCommentSave(false, course, group)") Save
                            button(id="overallCommentDelete" onclick="overallCommentSave(true, course, group)") Delete
                
            div(id='trendsDiv')
                canvas(id = "expTrend")
                canvas(id = "emoTrend")
            div(id='new')
            
            

        include templates/footer.pug
        script. 
            course='#{course}';
            group='#{group}';
            set = 'individuals';
            student = "all";
